<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<div class="skills">
    <div class="technical">
        <div class="heading"><h4>Technical Skills</h4></div>
            <ul>
                <div class="sk">
                    <li><img src="java.png"> Java</li>
                    <li><img src="JavaScript.png"> JavaScript</li>
                    <li><img src="TS.png"> TypeScript</li>
                    <li><img src="angular.png"> Angular</li>
                    <li><img src="Nodejs.png"> NodeJS</li>
                    <li><img src="C++.png"> C++</li>
                    <li><img src="sql1.jpg"> SQL</li>
                </div>
            </ul>
    </div>
    <div class="non-tech">
        <div class="heading"><h4>Soft Skills</h4></div>
        <ul>
            <div class="sk">
            <li><img src="leadership.jpg">Leadership Skills</li>
            <li><img src="communication.jpg">Communication</li>
            <li><img src="solving.jpg">Problem Solving</li>
            <li><img src="team.jpg">Teamwork</li>
            </div>
        </ul>
    </div>
</div>