<div class="container">
  <p class="bio">
    Hi. I am currently studying Computer Engineering at Pimpri Chinchwad College of Engineering in Pune, where I have a CGPA of 9.61/10. I’m set to graduate in June 2026. I am passionate about technology, especially programming and web design. I enjoy exploring new topics and always look forward to learning something new.
  </p>
  <div class="activity">
    <div class="act1">
      <p>2</p>
      <p>Internships</p>
    </div>
    <div class="act2">
      <p>+300</p>
      <p>DSA problems solved</p>
    </div>
    <div class="act3">
      <p>+5</p>
      <p>Projects</p>
    </div>
    <div class="act4">
      <p>+6</p>
      <p>Certifications</p>
    </div>
  </div>
</div>
