<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Background Color Test</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="home-container">
        <header>
            <div class="h-container">
                <nav>
                    <ul>
                        <li><a routerLink="/about" routerLinkActive="active-page">About</a></li>
                        <li><a routerLink="/projects" routerLinkActive="active-page">Projects</a></li>
                        <li><a routerLink="/skills" routerLinkActive="active-page">Skills</a></li>
                        <li><a routerLink="/contact" routerLinkActive="active-page">Contact</a></li>
                    </ul>
                </nav>  

            </div>
        </header>
    <div class="main-content">
        <div class="info">
            <div class="personal">
                <img class="profile" src="profileWeb.jpg">
                <h3 id="name">Syeda Imtiyaz</h3>
                <p id="profession">Full Stack Web developer</p>
            </div>
            <hr>
            <div class="container">
                <div class="email-icon">&#9993;</div>
                <div class="cont-info">
                    <span id="label1">EMAIL</span>
                    <span id="email">syedaimtiyaz&#64;gmail.com</span>
                </div>
            </div>
            <div class="container">
                <div class="location-icon"><i class="fas fa-map-marker-alt"></i></div>
                <div class="cont-info">
                    <span id="label2">LOCATION</span>
                    <span id="location">Pune, India</span>
                </div>
            </div>
        </div>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
    </div>
</body>
</html>

<script>
    const currentPath = window.location.pathname;

    const navLinks = document.querySelectorAll("nav a");
    navLinks.forEach(link => {
        if (link.getAttribute('href') === currentPath) {
            link.classList.add('active');
        }
    });
</script>